@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
    font-family: Helvetica, Arial, Sans-Serif;
}

img {
	width: 75%;
    display: block;
    margin: auto;
}

body {
    margin: 0;
    padding: 0;
    background-color: grey;
}

.masthead {
    background-color: black;
    overflow: hidden;
} 

.logo {
    height: 4.5rem;
    width: auto;
    margin: .5rem 5%;
}

article {
    margin: 0;
    padding: 0 5%;
    overflow: hidden
        
}

h1 {
    font-family: Georgia, Times, serif;
    margin: 3rem 0;
    font-weight: normal;
    font-size: 3.25rem;
    line-height: 3rem;
}

h1 {
    color: darkred;
}

h2 {
    color: darkred;
}

p {
    line-height: 1.5rem;
    margin: 0 0 1.5rem;
}

.dropcap:first-letter {
    font-size: 4.8rem;
    font-weight: bold;
    float: left;
    margin: 1.7rem .5rem 0 0;
    color: darkred;
}

p,
li {
    font-size: 1rem;
    line-height: 1.5rem;
}

h1 + p {
    font-size: 1.5rem;
    line-height: 1.75rem;
}

strong {
    font-weight: bold;
}

p strong {
    color: darkred;
}

em {
    font-style: italic;
    color: darkred;
}

footer {
    background-color: black;
    overflow: hidden;
}

footer p {
    font-size: .75rem;
    margin: .5rem 5% 5rem;
    color: white;
}

footer a {
    color: white;
}